 body {
      text-align: center;
      background: url("food.jpeg");
      background-size: cover;
      background-position: center;
	  background-repeat:no-repeat;
	  height:700px;
      color: white;
      font-family: Times New Roman;
    }
    p {
      font-size: 30px;
    }
	form{
		padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
		margin-top:10px;
		margin-bottom:10px;
		margin-left:10px;
		margin-right:10px;
		font-size:25px;
		
	}
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] 
	{
      background: red;
      color: white;
    }